################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tamgiac
/close-app
/closeprog
/Quan li process
/TH10-1
/th11-1
/th11-2
/Visualizers
